.profile-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid black;
    object-fit: cover;
    margin-bottom: 20px;
    display: block;
    margin-left: 0;
    margin-right: auto;
}

.strikethrough {
    text-decoration: line-through;
}
