body {
    margin: 0;
    background: #111;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: aliceblue;
}

.scene {
    width: 220px;
    height: 220px;
    perspective: 900px;
    cursor: grab;
    margin: 100px;
    position: relative;
    z-index: 9999;
    pointer-events: auto;
}

.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
}

.face {
    position: absolute;
    width: 220px;
    height: 220px;
    background-size: cover;
    background-position: center;
}

.front  { transform: rotateY(0deg) translateZ(110px); background-image: url("../../assets/image/pfp_vin.jpg");}
.back   { transform: rotateY(180deg) translateZ(110px); background-image: url(../../assets/image/nahidwin.jpg);}
.right  { transform: rotateY(90deg) translateZ(110px); background-image: url(../../assets/image/burger.png);}
.left   { transform: rotateY(-90deg) translateZ(110px); background-image: url(../../assets/image/beemovie.jpg);}
.top    { transform: rotateX(90deg) translateZ(110px); background-image: url(../../assets/image/dawg.jpg);}
.bottom { transform: rotateX(-90deg) translateZ(110px); background-image: url(../../assets/image/yeetthechild.jpg);}

.container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
    "faceImg faceImg"
    "cat cont";
}

.categories {
    grid-area: cat;
}

.description {
    grid-area: cont;
}

.activityImg {
    height: 100px;
    width: 100px;
}