body {
    background-color: solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rotate {
    width: 150px;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.faceImg {
    margin-bottom: 50px;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "cat cont";
}

.categories {
    grid-area: cat;
}

.description {
    grid-area: cont;
}